@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import '//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css';
.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 78px;
    background: #f1f1f1;
    padding: 6px 14px;
    z-index: 99;
    transition: all 0.5s ease;
  }
  .sidebar.open {
    width: 300px;
  }
  .sidebar .logoDetails {
    height: 5vw;
    display: flex;
    align-items: center;
    position: relative;
    cursor: default;
  }
  .sidebar .logoDetails img {
    opacity: 0;
    transition: all 0.5s ease;
  }
  .sidebar .logoDetails .logo_name {
    color: #090001;
    font-size: 1.5vw;
    font-weight: 600;
    margin-left: 1vh;
    opacity: 0;
    white-space: nowrap;
    transition: all 0.5 ease;
  }
  .sidebar.open .logoDetails img,
  .sidebar.open .logoDetails .logo_name {
    opacity: 1;
  }
  .sidebar .logoDetails #btn {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 22px;
    transition: all 0.4s ease;
    font-size: 2vw;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease;
  }
  .sidebar.open .logoDetails #btn {
    text-align: right;
  }
  .sidebar i {
    color: #111;
    height: 60px;
    min-width: 50px;
    font-size: 28px;
    text-align: center;
    line-height: 60px;
  }
  .sidebar .navList {
    margin-top: 20px;
    height: 100%;
  }
  .sidebar li {
    position: relative;
    margin: 8px 0;
    list-style: none;
  }
  .sidebar li .tooltip {
    position: absolute;
    top: -20px;
    left: calc(100% + 15px);
    z-index: 3;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 400;
    opacity: 0;
    pointer-events: none;
    transition: 0s;
  }
  .sidebar li:hover .tooltip {
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
    top: 50%;
    transform: translateY(-50%);
    white-space: nowrap;
  }
  .sidebar.open li .tooltip {
    display: none;
  }
  .sidebar li #log_out {
    color: #fff;
  }
  .sidebar input {
    font-size: 15px;
    color: #fff;
    font-weight: 400;
    outline: none;
    height: 50px;
    width: 100%;
    width: 50px;
    border: none;
    border-radius: 12px;
    transition: all 0.5s ease;
    background: #1d1b31;
  }
  .sidebar.open input {
    padding: 0 20px 0 50px;
    width: 100%;
  }
  .sidebar li .group_name {
    color: #111;
    font-size: 0.6vw;
    font-weight: 400;
    white-space: nowrap;
    opacity: 1;
    text-transform: uppercase;
  }
  .sidebar li a {
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    background: #f1f1f1;
  }
  .sidebar li a:hover {
    background: #7b0218;
    cursor: pointer;
  }
  .sidebar li a .links_name {
    color: #111;
    font-size: 1vw;
    font-weight: 400;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
    cursor: pointer;
  }
  .sidebar.open li a .links_name {
    opacity: 1;
    pointer-events: auto;
    cursor: pointer;
  }
  .sidebar li a:hover .links_name,
  .sidebar li a:hover i {
    transition: all 0.5s ease;
    color: #fff;
  }
  .sidebar li i {
    height: 50px;
    line-height: 50px;
    font-size: 1.5vw;
    border-radius: 12px;
    cursor: pointer;
  }
  .sidebar li.profile {
    position: fixed;
    height: 60px;
    width: 78px;
    left: 0;
    bottom: -8px;
    padding: 10px 14px;
    background: #7b0218;
    transition: all 0.5s ease;
    overflow: hidden;
  }
  .sidebar.open li.profile {
    width: 300px;
  }
  .sidebar li .profileDetails {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    cursor: default;
  }
  .sidebar li img {
    margin-bottom: 10px;
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 6px;
    margin-right: 10px;
  }
  .sidebar li.profile .name,
  .sidebar li.profile .job {
    font-size: 1vw;
    font-weight: 400;
    color: #fff;
    white-space: nowrap;
  }
  .sidebar li.profile .job {
    font-size: 1vw;
  }
  .sidebar .profile #log_out {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: #7b0218;
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-radius: 0px;
    transition: all 0.5s ease;
    cursor: pointer;
  }
  .sidebar.open .profile #log_out {
    width: 50px;
    background: none;
    cursor: pointer;
  }
  .homeSection {
    position: relative;
    min-height: 100vh;
    top: 0;
    left: 78px;
    width: calc(100% - 78px);
    transition: all 0.5s ease;
    z-index: 2;
  }
  .sidebar.open ~ .homeSection {
    left: 300px;
  }